@{
    ViewData["Title"] = "History";
}

<div class="text-center">
    <h1>History - Early life (1879-1904)</h1>
    <p>
        Kazimir Malevich[21] was born in 1879 Kazimierz Malewicz to a Polish family,[22][23][24] who settled near Kiev in Kiev Governorate of the Russian Empire during the partitions of Poland.[19] His parents, Ludwika and Seweryn Malewicz, were Roman Catholic like most ethnic Poles,[2] though his father attended Orthodox services as well.[25] His native language was Polish, but he also spoke Russian,[26] as well as Ukrainian due to his childhood surroundings.[27] His mother Ludwika wrote poetry in Polish and sang Polish songs, and kept a record of the Polish families living in the area.[25] Malevich would later write a series of articles in Ukrainian about art, and identified as Ukrainian.[28]

        Kazimir's father managed a sugar factory. Kazimir was the first of fourteen children,[19] only nine of whom survived into adulthood. His family moved often and he spent most of his childhood in the villages of modern-day Ukraine, amidst sugar-beet plantations, far from centers of culture. Until age twelve, he knew nothing of professional artists, although art had surrounded him in childhood. He delighted in peasant embroidery, and in decorated walls and stoves. He was able to paint in the peasant style. He studied drawing in Kiev from 1895 to 1896. From 1896 to 1904, Kazimir Malevich lived in Kursk, where he encountered several Russian artists, including Lev Kvachevsky, with whom he often worked outdoors.[29]: 5–6 
    </p>
</div>
