@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Kazimir Malevich</h1>
    <div class="cont">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/63/Casimir_Malevich_photo.jpg/330px-Casimir_Malevich_photo.jpg" />
        <p>Kazimir Severinovich Malevich[nb 1] (23 February [O.S. 11 February] 1879[1] – 15 May 1935) was a Russian avant-garde[nb 2] artist and art theorist, whose pioneering work and writing influenced the development of abstract art in the 20th century.[2][3][4][5] He was born in Kiev, modern-day Ukraine, to an ethnic Polish family. His concept of Suprematism sought to develop a form of expression that moved as far as possible from the world of natural forms (objectivity) and subject matter in order to access "the supremacy of pure feeling"[6] and spirituality.[7][8] Active primarily in Russia, Malevich was a founder of the artists collective UNOVIS and his work has been variously associated with the Russian avant-garde and the Ukrainian avant-garde, and he was a central figure in the history of modern art in Central and Eastern Europe more broadly.</p
    </div>
</div>
